<div class="jumbotron masthead">
  <div class="span4">
    <h1>Even117</h1>
    <p>Een geweldig app om mensen bij elkaar te brengen.</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.2']);">Download nu de app</a>
    </p>
  </div>
</div>	
<div class="container">
<div class='hero-unit'>
<h1>Mission Success</h1>
<p>success is different, so don't using <em>Hello World </em> again on your code after studying first programming, ofcourse don't same with me, LOL...zzz</p>
<a class="btn btn-success btn-small">I'm cool Right</a>
</div>
</div>